  <div class="row">
    <div class="col-sm-5">
      <div class="thumbnail">
        <a href="#">
          <h1>{{vote}}</h1>
          <h2>Points</h2>
        </a>
      </div>
      <!-- end thumbnail -->
    </div>
    <!-- end col-5 -->
    <div class="col-sm-7">
      <a href="#"><h1>{{title}}</h1></a>
      <small>{{link}}</small>
      <ul>
        <li><a href="#"><span class="glyphicon glyphicon-arrow-up"></span>upvote</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-arrow-down"></span>downvote</a></li>
      </ul>
    </div>
  </div>
